<div class="main-container">
    <div class="flex-center dish-container">
        <div class="food-loader" *ngIf="loading; else dishTemplate"></div>
        <ng-template #dishTemplate>
            <div class="dish-inner-container">
                <div class="d-flex">
                    <div class="dish-image" [style.backgroundImage]="DataService.getImage(dish.RecipePhotoURL)"></div>
                    <div class="dish-name-cuisine">
                        <h2>{{dish.Name | uppercase}}</h2>
                        <div class="text-capitalize dish-description">
                            <div #description [style.maxHeight]="readMore ? 'unset': '80px'" class="description">
                                {{dish.Description}}</div>
                            <div class="read-more" *ngIf="isReadMore(description)" (click)="readMore = !readMore">
                                <ng-container *ngIf="readMore">Read less...</ng-container>
                                <ng-container *ngIf="!readMore">Read more...</ng-container>
                            </div>
                        </div>
                        <div class="d-flex justify-content-space-between align-items-center">
                            <p class="text-capitalize">Cuisine: {{dish.Cuisine}}</p>
                            <a href="https://www.swiggy.com/search?q={{DataService.foodQuery(dish.Name)}}" target="_blank" id="dish-details-order-food-button"
                                color="accent" mat-raised-button>Order
                                Something Similar</a>
                        </div>
                    </div>
                </div>

                <mat-tab-group>
                    <mat-tab label="INGREDIENTS">
                        <div class="d-flex ingredients">
                            <ul>
                                <li class="text-capitalize"
                                    *ngFor="let ingredient of DataService.getData(dish.Ingredients); let e = even;"
                                    [style.display]="e ? 'list-item': 'none'">
                                    {{ingredient}}
                                </li>
                            </ul>
                            <ul>
                                <li class="text-capitalize"
                                    *ngFor="let ingredient of DataService.getData(dish.Ingredients); let o = odd;"
                                    [style.display]="o ? 'list-item': 'none'">
                                    {{ingredient}}
                                </li>
                            </ul>
                        </div>
                    </mat-tab>
                    <mat-tab label="STEPS">
                        <div class="steps">
                            <ul>
                                <li class="text-capitalize" *ngFor="let step of DataService.getData(dish.Steps)">
                                    {{step}}
                                </li>
                            </ul>
                        </div>
                    </mat-tab>
                </mat-tab-group>

                <hr *ngIf="similarDishes.length">

                <div class="similar-dishes" *ngIf="similarDishes.length">
                    <h2>Similar Dishes:</h2>
                    <slider>
                        <ng-container *ngFor="let similarDish of similarDishes ; let l = last; let f = first">
                            <ng-container *sliderItem>
                                <div class="dish-card similar-dish-card" [data]="similarDish" [ngClass]="
                                        {
                                            'mr-1': f && !l,
                                            'mx-1': !f && !l,
                                            'ml-1': !f && l
                                        }
                                        "></div>
                            </ng-container>
                        </ng-container>
                    </slider>
                </div>
            </div>
        </ng-template>
    </div>
</div>