.main-container {
  .dish-container {
    width: 50%;
    margin: auto;

    .dish-inner-container {
      width: 100%;
      .dish-image {
        height: 150px;
        min-width: 150px;
        width: 150px;
        border-radius: 100%;
        margin-right: 20px;
        background-size: cover;
      }

      .dish-description {
        margin: 0 0 12px;
        .description {
          overflow: hidden;
        }

        .read-more {
          color: lightskyblue;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      mat-tab-group {
        width: 100%;
        margin-top: 15px;

        .ingredients,
        .steps {
          max-height: 200px;
          min-height: 200px;
          overflow-y: scroll;
        }

        .ingredients {
          font-size: 1.5em;

          ul {
            margin: 0 15px;
            li {
              margin: 15px 0;
            }
          }
        }
      }

      .ingredients-steps {
        height: 400px;
        overflow-y: scroll;

        .ingredients {
          margin-top: 15px;
        }
      }
    }
  }
}
