<div class="main-container text-center">
    <img src="https://media.giphy.com/media/3oEduWOgM2JH2lxH4k/source.gif" alt="NOT FOUND" height="40%">

    <h2>
        <b>
            We didn't find any dishes for cooking. <br> But HEY!! you can still order some food.
        </b>
    </h2>

    <a class="mr-1" href="/" routerLink="/" color="primary" id="not-found-back-to-home" mat-raised-button>Back to Home</a>

    <a href="https://www.swiggy.com/search?q={{DataService.foodQuery(data)}}" id="not-found-order-food-button" target="_blank" color="accent"
        mat-raised-button>Order Food..!</a>
</div>