<a class="card cursor-pointor" [routerLink]="['/dish', data.Id]" href="dish/{{data.Id}}">
    <div class="card-image" [style.backgroundImage]="DataService.getImage(data.RecipePhotoURL)"></div>
    <div class="card-title text-ellipsis">
        <div class="text-ellipsis" [matTooltip]="data.Name">
            <b>{{data.Name | uppercase}}</b>
        </div>
    </div>
    <div class="card-body text-capitalize">
        <small>{{data.Description}}</small>
    </div>
</a>