.card {
  width: 200px;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  color: initial;

  .card-image {
    background-size: cover;
    width: 200px;
    height: 100px;
    border-radius: 5px 5px 0 0;
  }

  .card-title {
    padding: 5px 10px 0;
  }

  .card-body {
    padding: 10px;
    max-height: 100px;
    overflow: scroll;
    text-align: justify;
  }
}
