/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgba(255, 255, 255, 0.7) url("./assets/food_images/bg-image.png");
  background-size: cover;
  background-blend-mode: lighten;
}

* {
  outline: none;
}

.mr-1 {
  margin-right: 0.35em !important;
}

.ml-1 {
  margin-left: 0.35em;
}

.mx-1 {
  margin-right: 0.35em;
  margin-left: 0.35em;
}

.cursor-pointor {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-capitalize {
  text-transform: capitalize;
}

.main-container {
  padding: 30px;
}

.d-flex {
  display: flex;
}

$justify: center, space-around, space-between;

@each $value in $justify {
  .justify-content-#{$value} {
    justify-content: $value;
  }
}

.align-items-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
