<div class="main-container flex-center ">
    <div class="text-center">
        <img src="https://i.pinimg.com/originals/a2/18/f7/a218f772a59aad480fcded754fa01824.gif" alt="WORK IN PROGRESS"
            height="360px">

        <h2>
            <b>
                We are cooking some good features for you.
                <br>
                Coming Soon..!!
            </b>
        </h2>
        <a href="/" routerLink="/" color="primary" id="work-in-progress-back-to-home" mat-raised-button>Back to Home</a>
    </div>
</div>