.main-container {

    .text-center {

        border: 1px solid #bdbdbd;
        border-radius: 10px;
        padding: 15px;
    
        h2 {
            margin: 15px 0;
        }
    
        img {
            border-radius: 10px;
        }
    }
}