<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dca596">  <td>20/02/20 13:05:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initializeApplication()[pri:0, instance:TestCases.OrderYourFood@17c68925]">&gt;&gt;initializeApplication</td> 
<td>&nbsp;</td>  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="94d69f">  <td>20/02/20 13:05:27</td>   <td>2995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderYourFood.orderYourFoodTest()[pri:0, instance:TestCases.OrderYourFood@17c68925]">orderYourFoodTest</td> 
  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>20/02/20 13:05:28</td>   <td>3100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.applicationEnd()[pri:0, instance:TestCases.OrderYourFood@17c68925]">&lt;&lt;applicationEnd</td> 
<td>&nbsp;</td>  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>20/02/20 13:05:28</td>   <td>3199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initializeApplication()[pri:0, instance:TestCases.CookYourFood@7e0ea639]">&gt;&gt;initializeApplication</td> 
<td>&nbsp;</td>  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="e369b7">  <td>20/02/20 13:05:30</td>   <td>5441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CookYourFood.cookYourFoodTest()[pri:0, instance:TestCases.CookYourFood@7e0ea639]">cookYourFoodTest</td> 
  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>20/02/20 13:05:30</td>   <td>5446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.applicationEnd()[pri:0, instance:TestCases.CookYourFood@7e0ea639]">&lt;&lt;applicationEnd</td> 
<td>&nbsp;</td>  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>20/02/20 13:05:30</td>   <td>5785</td> <td title="&lt;&lt;TestBase.sendMail()[pri:0, instance:TestCases.OrderYourFood@17c68925]">&lt;&lt;sendMail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@759156157</td>   <td></td> </tr>
</table>
