mat-accordion {
  width: 60%;

  .food-image {
    background-size: cover;
    height: 100px;
    min-width: 100px;
    border-radius: 100%;
    margin-right: 15px;
  }

  .dish-description {
    margin: 0 0 12px;
    .description {
      overflow: hidden;
    }

    .read-more {
      color: lightskyblue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .buttons {
    margin: 10px 0;
    a {
      margin: 0 5px;
    }
  }
}
