<div class="main-container">
    <div class="food-loader" *ngIf="loading; else resultsTemplate"></div>
    <ng-template #resultsTemplate>
        <h2 class="text-center" *ngIf="results.length">Food results based on your choice:</h2>
        <div class="flex-center" *ngIf="results.length">
            <mat-accordion>
                <mat-expansion-panel [expanded]="f ? true : false" *ngFor="let dish of results; let f = first">
                    <mat-expansion-panel-header>
                        {{dish.Name | uppercase}}
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <div class="d-flex">
                            <div class="food-image" [style.backgroundImage]="DataService.getImage(dish.RecipePhotoURL)">
                            </div>
                            <div>
                                <div class="text-capitalize dish-description">
                                    <div #description [style.maxHeight]="readMore ? 'unset': '80px'"
                                        class="description">
                                        {{dish.Description}}</div>
                                    <div class="read-more" *ngIf="isReadMore(description)"
                                        (click)="readMore = !readMore">
                                        <ng-container *ngIf="readMore">Read less...</ng-container>
                                        <ng-container *ngIf="!readMore">Read more...</ng-container>
                                    </div>
                                </div>
                                <h4>INGREDIENTS:</h4>
                                <div>
                                    <span class="text-capitalize"
                                        *ngFor="let ingredient of DataService.getData(dish.Ingredients); let f = first; let l = last">
                                        {{ingredient}}<ng-container *ngIf="!l">, </ng-container>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="buttons flex-center">
                            <a href="/dish/{{dish.Id}}" target="_blank" mat-raised-button id="go-to-dish-details-button" color="primary">Love To
                                Cook..!</a>
                            <a href="https://www.swiggy.com/search?q={{DataService.foodQuery(dish.Name)}}" id="results-order-food-button"
                                target="_blank" color="accent" mat-raised-button>Lazy To Cook..!</a>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="flex-center" *ngIf="!results.length">
            <div class="not-found" data="{{data.cuisine + ' ' + data.type}}"></div>
        </div>
    </ng-template>
</div>