<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>20/02/23 21:41:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetDish.VerifyGetDishApi()[pri:0, instance:GetDish@5034c75a]">VerifyGetDishApi</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>20/02/23 21:41:52</td>   <td>2131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetDish.VerifyGetDishDetail()[pri:0, instance:GetDish@5034c75a]">VerifyGetDishDetail</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>20/02/23 21:41:52</td>   <td>2587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetDish.VerifyGetSimilarDishApi()[pri:0, instance:GetDish@5034c75a]">VerifyGetSimilarDishApi</td> 
  <td>main@1870647526</td>   <td></td> </tr>
</table>
