ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 6000px;
}

.slider-wrapper {
  overflow: hidden;
  width: 725px;
  margin: auto;

  .slider-inner {
    padding: 10px 0px;
  }
}

.section-container {
  margin: 30px 0 60px;

  button[mat-icon-button] {
    align-self: center;

    &:first-child {
      margin-left: -40px;
    }

    &:last-child {
      margin-right: -40px;
    }

    mat-icon {
      font-size: 3em;
      width: unset;
    }
  }
}
