<div class="d-flex section-container">
    <button mat-icon-button id="slide-left-button" *ngIf="showControls && currentSlide != 0" (click)="prev()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <section class="slider-wrapper">
        <ul class="slider-inner d-flex" #slider>
            <li *ngFor="let item of items;" class="slider-item">
                <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
            </li>
        </ul>
    </section>
    <button mat-icon-button id="slide-right-button" *ngIf="showControls && (currentSlide + 4 < items.length)"
        (click)="next()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>