.search-form {
  width: 40%;
  margin-left: auto;

  mat-form-field {
    font-size: 0.8em;
  }

  button {
    margin: 0 5px;
  }
}

:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
