<mat-toolbar color="primary">
  <img class="cursor-pointor" routerLink="/" src="./assets/logo.png" height="90%" alt="HungerBOT">
  <div class="cursor-pointor" routerLink="/">HungerBOT</div>

  <div class="search-form d-flex justify-content-space-around align-items-center">

    <mat-form-field appearance="standard">
      <mat-label>Search food</mat-label>
      <input matInput placeholder="Ex. Pizza">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div>
      <button mat-raised-button color="accent" id="login-button" routerLink="/login">Login</button>
      <button mat-raised-button color="accent" id="sign-up-button" routerLink="/sign-up">Sign-Up</button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>