<div class="main-container">
    <div class="flex-center">
        <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="cuisineFormGroup">
                <form [formGroup]="cuisineFormGroup">
                    <h2 class="text-center">Which Cuisine do you like?</h2>
                    <mat-radio-group formControlName="cuisine" (change)="stepper.next()">
                        <div class="all-options flex-center">
                            <slider>
                                <ng-container *ngFor="let option of ConfigService.cuisineOptions">
                                    <ng-container *sliderItem>
                                        <mat-radio-button [value]="option.value" [id]="option.value">
                                            <div class="option-container flex-center"
                                                [style.background]="getImageUrl(option.image)"
                                                [class.selected]="cuisineFormGroup.get('cuisine').value == option.value">
                                                <div class="option-name">{{option.name | uppercase}}</div>
                                            </div>
                                        </mat-radio-button>
                                    </ng-container>
                                </ng-container>
                            </slider>
                        </div>
                    </mat-radio-group>
                    <div class="flex-center">
                        <button mat-raised-button color="primary" id="next-to-food-type" matStepperNext>
                            <ng-container *ngIf="!cuisineFormGroup.get('cuisine').value">Love to explore any Cuisine?
                            </ng-container>
                            <ng-container *ngIf="cuisineFormGroup.get('cuisine').value">Next</ng-container>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="foodTypeFormGroup">
                <form [formGroup]="foodTypeFormGroup">
                    <h2 class="text-center">What are you food preferences?</h2>
                    <mat-radio-group formControlName="foodType" (change)="stepper.next()">
                        <div class="all-options flex-center">
                            <slider>
                                <ng-container *ngFor="let option of ConfigService.foodTypeOptions">
                                    <ng-container *sliderItem>
                                        <mat-radio-button [value]="option.value" [id]="option.value">
                                            <div class="option-container flex-center"
                                                [style.background]="getImageUrl(option.image)"
                                                [class.selected]="foodTypeFormGroup.get('foodType').value == option.value">
                                                <div class="option-name">{{option.name | uppercase}}</div>
                                            </div>
                                        </mat-radio-button>
                                    </ng-container>
                                </ng-container>
                            </slider>
                        </div>
                    </mat-radio-group>
                    <div class="flex-center">
                        <button mat-raised-button color="accent" id="back-to-cuisine" matStepperPrevious>Change Cuisine</button>
                        <button mat-raised-button color="primary" id="search" routerLink="/results">
                            <ng-container *ngIf="!foodTypeFormGroup.get('foodType').value">Anything goes</ng-container>
                            <ng-container *ngIf="foodTypeFormGroup.get('foodType').value">Search</ng-container>
                        </button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>