::ng-deep mat-horizontal-stepper {
  background-color: transparent !important;
  .mat-horizontal-stepper-header-container {
    display: none;
  }

  .mat-horizontal-content-container {
    padding: 0 48px 48px 48px !important;
  }
}

[mat-raised-button] {
  margin: 0 5px;
}

.all-options {
  margin-top: 40px;
  margin-bottom: 60px;
  max-width: 50%;
  margin: auto;
}

::ng-deep mat-radio-group .mat-radio-container {
  display: none;
}

.option-container {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 1px solid #eee;
  margin: 0 10px;
  box-shadow: 0px 0px 5px #eee;
  cursor: pointer;
  background-size: cover !important;
  background-blend-mode: darken;
  position: relative;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .option-name {
    display: none;
    font-size: 1.5em;
  }

  &:hover {
    box-shadow: 0px 0px 10px #ffd740;
    background-blend-mode: lighten;

    .option-name {
      display: block;
    }
  }

  &.selected {
    box-shadow: 0px 0px 10px #673ab7;
    background-blend-mode: lighten;

    .option-name {
      display: block;
    }
  }
}
